.image-wrapper {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: fit-content;
}

.image-wrapper:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%;
    background-color: rgba(255,255,255,0.2);
}